<div id="authipayFormModal<%= post_fix %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Payment</h4>
      </div>

      <div class="modal-body">

        <div id="message-container" class="hidden-container">
          <div id="message-text" class="text-center payment-text">
          </div>

        </div>

        <div id="spinner-container" class="hidden-container">
          <div id="payment-text" class="text-center col-xs-12 payment-text">
            One moment we are processing your request ...
          </div>

          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <% timestamp = Time.now.strftime("%Y:%m:%d-%H:%M:%S") %>
        <form class="form-horizontal" role="form" id="authipay-form" action="<%= Authipay.url %>" method="post">
          <input type="hidden" class="" name="txntype" id="txntype" value="sale">
          <input type="hidden" class="" name="mode" id="mode" value="<%= mode %>">
          <input type="hidden" class="" name="timezone" id="timezone" value="Europe/Dublin">
          <input type="hidden" class="" name="txndatetime" id="txndatetime" value="<%= timestamp %>">
          <input type="hidden" class="" name="hash_algorithm" id="hash_algorithm" value="SHA256">
          <input type="hidden" class="" name="hash" id="hash" value="<%= Authipay.create_hash("250.00", "978", timestamp) %>">
          <input type="hidden" class="" name="storename" id="storename" value="<%= Authipay.store_id %>">
          <input type="hidden" class="" name="responseSuccessURL" id="responseSuccessURL" value="http://localhost:3000/charges">
          <input type="hidden" class="" name="responseFailURL" id="responseFailURL" value="http://localhost:3000/charges">
          <input type="hidden" class="" name="currency" id="currency" value="978"> <!-- EUR --!>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="cardholdername" id="cardholdername" value="John Doe">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="cardnumber" id="cardnumber" value="4035874000424977">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="expmonth">Expiration Date</label>
            <div class="col-sm-9">
              <div class="row">

                <div class="col-xs-3">
                  <select class="form-control col-sm-2" name="expmonth" id="expmonth" value="12">
                        <option>Month</option>
                        <option value="01">Jan (01)</option>
                        <option value="02">Feb (02)</option>
                        <option value="03">Mar (03)</option>
                        <option value="04">Apr (04)</option>
                        <option value="05">May (05)</option>
                        <option value="06">June (06)</option>
                        <option value="07">July (07)</option>
                        <option value="08">Aug (08)</option>
                        <option value="09">Sep (09)</option>
                        <option value="10">Oct (10)</option>
                        <option value="11">Nov (11)</option>
                        <option selected value="12">Dec (12)</option>
                      </select>
                </div>

                <div class="col-xs-3">
                  <select class="form-control" name="expyear" id="expyear">
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option selected value="2023">2023</option>
                      </select>
                </div>

              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="cvm">Card CVV</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="cvm" id="cvm" value="222">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="price">Total</label>
            <div class="col-sm-3">
              <input id='amount' class="form-control" name="chargetotal" value="250.00" type="number" step="0.01"/>
              <small style="color: red">Pay what you want!</small>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" id="submit-btn" class="btn btn-success">Pay Now</button>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
