<div id="authipayFormModal<%= post_fix %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Your Payment Form in <b><%= mode %></b> mode
        </h4>
      </div>

      <div class="modal-body">
        <div id="message-container" class="row">
          <div id="message-text" class="text-center col-md-12">
            <p>
              <% if card %>
                This is an example payment form that you'd need to setup in order process an Authipay Connect transaction. This form collects the card details from your customers before redirecting them to Authipay's checkout flow. Besides these, you need to submit your date, time, mode information as well as authentication (i.e. storename) and callback URLs.
              <% else %>
                This is an example payment form that you'd need to setup in order process an Authipay Connect transaction. This form only collects the amount to be paid before redirecting them to Authipay's checkout flow. Besides these, you need to submit your date, time, mode information as well as authentication (i.e. storename) and callback URLs.
              <% end %>
            </p>
          </div>
        </div>

        <form class="form-horizontal" role="form" id="authipay-form" action="<%= Authipay.url %>" method="post">
          <input type="hidden" class="" name="mode" id="mode" value="<%= mode %>">
          <input type="hidden" class="" name="timezone" id="timezone" value="Europe/Dublin">
          <input type="hidden" class="" name="txndatetime" id="txndatetime" value="<%= timestamp %>">
          <input type="hidden" class="" name="hash_algorithm" id="hash_algorithm" value="SHA256">
          <input type="hidden" class="" name="hash" id="hash" value="<%= Authipay.create_hash(params["amount"] || "250.00", "978", timestamp) %>">
          <input type="hidden" class="" name="storename" id="storename" value="<%= Authipay.store_id %>">
          <input type="hidden" class="" name="responseSuccessURL" id="responseSuccessURL" value="<%= ENV["CALLBACK_BASE"] %>/charges">
          <input type="hidden" class="" name="responseFailURL" id="responseFailURL" value="<%= ENV["CALLBACK_BASE"] %>/charges">
          <input type="hidden" class="" name="currency" id="currency" value="978"> <!-- EUR --!>

          <% if card %>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="cardholdername" id="cardholdername" value="John Doe">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="cardnumber" id="cardnumber" value="4035874000424977">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="expmonth">Expiration Date</label>
            <div class="col-sm-9">
              <div class="row">

                <div class="col-xs-4">
                  <select class="form-control col-sm-2" name="expmonth" id="expmonth" value="12">
                        <option>Month</option>
                        <option value="01">Jan (01)</option>
                        <option value="02">Feb (02)</option>
                        <option value="03">Mar (03)</option>
                        <option value="04">Apr (04)</option>
                        <option value="05">May (05)</option>
                        <option value="06">June (06)</option>
                        <option value="07">July (07)</option>
                        <option value="08">Aug (08)</option>
                        <option value="09">Sep (09)</option>
                        <option value="10">Oct (10)</option>
                        <option value="11">Nov (11)</option>
                        <option selected value="12">Dec (12)</option>
                      </select>
                </div>

                <div class="col-xs-4">
                  <select class="form-control" name="expyear" id="expyear">
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option selected value="2023">2023</option>
                      </select>
                </div>

              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="cvm">Card CVV</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="cvm" id="cvm" value="222">
            </div>
          </div>
          <% end %>
<% if params["business"] %>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business Company</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="bcompany" id="bcompany">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="bname" id="bname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business Addr1</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="baddr1" id="baddr1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business City</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="baddr1" id="bcity">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business Zip</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="bzip" id="bzip">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Business Country</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="bcountry" id="bcountry">
            </div>
          </div>
<% end %>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="price" data-toggle="tooltip" data-placement="top" title="Use the amount's cent value to walk through different payment scenarios. Read more on it in your Testing Pays account's 'Test' tab.">Total <i class="fa fa-info-circle"></i>
</label>
            <div class="col-sm-3">
              <input id='amount' class="form-control" name="chargetotal" onchange="calculateHash(this);" data-chargetotal="authipayFormModal<%= post_fix %>" value="<%= params["amount"] || "250.00" %>" type="number" step="0.01"/>
            </div>
            <div class="col-sm-6">
              <p class="small">
              </p>
            </div>
          </div>


          <!-- Other details, needed for config / debug -->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="">&nbsp;</label>
            <div class="col-sm-9">
              <a data-toggle="collapse" href="#other-details" id="toggle-other-details"><i class="fa fa-plus"></i> Show Advanced Options</a>
            </div>
          </div>
          <div id="other-details" class="collapse">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-holder-name">Transaction Type</label>
              <div class="col-sm-9">
                <select name="txntype" id="txntype" class="form-control">
                  <option value="sale">sale</option>
                  <option value="preauth">preauth</option>
                  <option value="postauth">postauth</option>
                  <option value="void">void</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="oid">Order ID; TDate</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="oid" id="oid" value="">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="tdate" id="tdate" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="oid">Hosted Data ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="hosteddataid" id="hosteddataid" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="checkoutoption">Checkout Option</label>
              <div class="col-sm-9">
                <select name="checkoutoption" id="checkoutoption" class="form-control">
                  <option value="classic" selected>classic</option>
                  <option value="combinedpage">combinedpage</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="mobileMode">MobileMode</label>
              <div class="col-sm-9">
                <select name="mobileMode" id="mobileMode" class="form-control">
                  <option value="true">true</option>
                  <option value="false" selected>false</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="authenticateTransaction">3D Secure</label>
              <div class="col-sm-9">
                <select name="authenticateTransaction" id="authenticateTransaction" class="form-control">
                  <option value="true">true</option>
                  <option value="false">false</option>
                </select>
              </div>
            </div>
          </div>
          <!-- end other details -->
          <br/>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" id="submit-btn" class="btn btn-success">Pay Now</button>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
