<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Authipay Connect API - Example integration by <a href="https://www.testingpays.com" target="_BLANK">Testing Pays</a></h3>
      <hr width="80%">
      <p>
      <a href="https://github.com/TestingPays/authipay_rails">This Rails application</a> is an example on how you can implement an integration to Authipay Connect using Ruby on Rails.
      Each mode behaves differently, depending on the mode type the Connect page will collect the details needed for the transaction to complete.
      <br>
      <br>
      Try out the different modes, and with Testing Pays, you can configure the various look and feel for Authipay: the classic view, mobile or combined.
      </p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body row">
          <div class="col-md-2 col-xs-2 panel-heading-left">
            <h3 class="text-left panel-title">PayOnly Mode</h3>
          </div>

          <div class="col-md-6 col-xs-6 panel-section">
            <p>Example redirect based transaction, only collecting payment details from your customers.</>
          </div>

          <div class="col-md-4 col-xs-4 panel-section-right">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalWithCard">Start With Card Details</button>
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModal">Start Without Card Details</button>
          </div>
        </div>
      </div>

      <br>
    </div>

    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">PayPlus Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example redirect based transaction, using FullPay mode.</p>
          <hr width="40%">
          <p>Will collect payment, billing and shipping details</p>
          <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlusWithCard">With Card Details</button>
          <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlus">Without Card Details</button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">FullPay Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example redirect based transaction, using PayPlus mode.</p>
          <hr width="40%">
          <p>Will collect payment and billing details</p>
          <br>
          <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFullWithCard">With Card Details</button>
          <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFull">Without Card Details</button>
        </div>
      </div>
      <br>
    </div>

  </div>
</div>

<% timestamp = Time.now.strftime("%Y:%m:%d-%H:%M:%S") %>
<%= render "partials/authipay_form_modal", post_fix: "WithCard", mode: "payonly", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "", mode: "payonly", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "PlusWithCard", mode: "payplus", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Plus", mode: "payplus", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "FullWithCard", mode: "fullpay", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Full", mode: "fullpay", card: false, timestamp: timestamp %>

<script>
window.authipay = {
  timestamp: "<%= timestamp %>",
  store_id: "<%= Authipay.store_id %>",
  user_id: "<%= Authipay.user_id %>",
  shared_secret: "<%= Authipay.shared_secret %>"
};
</script>
