<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Authipay Connect API - Example integration</h3>
      <hr width="80%">
      <p><a href="https://github.com/TestingPays/authipay_rails">This Rails application</a> is an example on how you can implement an integration to Authipay Connect using Ruby on Rails.</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">PayOnly Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example redirect based transaction, using PayOnly mode.</>
          <hr width="40%">
          <p>Will collect payment details</p>
        </div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalWithCard">PayOnly with CC</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModal">PayOnly without CC</button>

      <br>
      <br>
      <br>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">PayPlus Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example redirect based transaction, using FullPay mode.</p>
          <hr width="40%">
          <p>Will collect payment, billing and shipping details</p>
        </div>
      </div>


      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlusWithCard">PayPlus with CC</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlus">PayPlus without CC</button>
      <br>
      <br>
      <br>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">FullPay Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example redirect based transaction, using PayPlus mode.</p>
          <hr width="40%">
          <p>Will collect payment and billing details</p>
        </div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFullWithCard">FullPay with CC</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFull">FullPay without CC</button>
      <br>
      <br>
      <br>
    </div>

  </div>
</div>

<% timestamp = Time.now.strftime("%Y:%m:%d-%H:%M:%S") %>
<%= render "partials/authipay_form_modal", post_fix: "WithCard", mode: "payonly", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "", mode: "payonly", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "PlusWithCard", mode: "payplus", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Plus", mode: "payplus", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "FullWithCard", mode: "fullpay", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Full", mode: "fullpay", card: false, timestamp: timestamp %>

<script>
window.authipay = {
  timestamp: "<%= timestamp %>",
  store_id: "<%= Authipay.store_id %>",
  user_id: "<%= Authipay.user_id %>",
  shared_secret: "<%= Authipay.shared_secret %>"
};
</script>
