<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Authipay Connect API - Sample Integrations</h3>
      <br/>
      <p>Here are our Ruby on Rails examples showing the different integration modes for Authipay Connect (Authipay's hosted payment page solution).</p>

      <p><a href="https://github.com/TestingPays/authipay_rails">Check out the Rails application code on Github.</a></p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default" style="position:relative; overflow:hidden;">
        <span style="top: 1em;
          left: -5em;
          color: #fff;
          display: block;
          position:absolute;
          text-align: center;
          text-decoration: none;
          letter-spacing: .06em;
          background-color: #4F8A10;
          padding: 0.5em 4.8em 0.4em 4.8em;
          text-shadow: 0 0 0.75em #444;
          box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          font: bold 16px/1.2em Arial, Sans-Serif;
          -webkit-text-shadow: 0 0 0.75em #444;
          -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          -webkit-transform: rotate(-45deg) scale(0.75,1);
          z-index:10;">SAMPLE</span>
        <div class="panel-heading">
          <h3 class="panel-title text-center">PayOnly Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example showing Connect redirect in "PayOnly" mode.</>
          <hr width="40%">
          <p>In PayOnly mode, your customers are asked for just payment details.</p>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalWithCard">Collects Card Details</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModal">Collects Amount</button>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default" style="position:relative; overflow:hidden;">
        <span style="top: 1em;
          left: -5em;
          color: #fff;
          display: block;
          position:absolute;
          text-align: center;
          text-decoration: none;
          letter-spacing: .06em;
          background-color: #4F8A10;
          padding: 0.5em 4.8em 0.4em 4.8em;
          text-shadow: 0 0 0.75em #444;
          box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          font: bold 16px/1.2em Arial, Sans-Serif;
          -webkit-text-shadow: 0 0 0.75em #444;
          -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          -webkit-transform: rotate(-45deg) scale(0.75,1);
          z-index:10;">SAMPLE</span>
        <div class="panel-heading">
          <h3 class="panel-title text-center">PayPlus Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example showing Connect redirect in "PayPlus" mode.</>
          <hr width="40%">
          <p>In PayPlus mode, your customers are asked for payment and billing details.</p>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlusWithCard">Collects Card Details</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalPlus">Collects Amount</button>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default" style="position:relative; overflow:hidden;">
        <span style="top: 1em;
          left: -5em;
          color: #fff;
          display: block;
          position:absolute;
          text-align: center;
          text-decoration: none;
          letter-spacing: .06em;
          background-color: #4F8A10;
          padding: 0.5em 4.8em 0.4em 4.8em;
          text-shadow: 0 0 0.75em #444;
          box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          font: bold 16px/1.2em Arial, Sans-Serif;
          -webkit-text-shadow: 0 0 0.75em #444;
          -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
          -webkit-transform: rotate(-45deg) scale(0.75,1);
          z-index:10;">SAMPLE</span>
        <div class="panel-heading">
          <h3 class="panel-title text-center">FullPay Mode</h3>
        </div>
        <div class="panel-body text-center">
          <p>Example showing Connect redirect in "FullPay" mode.</>
          <hr width="40%">
          <p>In FullPay mode, your customers are asked for payment, billing and shipping details.</p>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFullWithCard">Collects Card Details</button>
      <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#authipayFormModalFull">Collects Amount</button>
    </div>

  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div align="center" style="font-weight:300">Brought to you by <a href="https://www.testingpays.com">TestingPays.com</a></div>
  </div>
</div>

<% timestamp = Time.now.strftime("%Y:%m:%d-%H:%M:%S") %>
<%= render "partials/authipay_form_modal", post_fix: "WithCard", mode: "payonly", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "", mode: "payonly", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "PlusWithCard", mode: "payplus", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Plus", mode: "payplus", card: false, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "FullWithCard", mode: "fullpay", card: true, timestamp: timestamp %>
<%= render "partials/authipay_form_modal", post_fix: "Full", mode: "fullpay", card: false, timestamp: timestamp %>

<script>
window.authipay = {
  timestamp: "<%= timestamp %>",
  store_id: "<%= Authipay.store_id %>",
  user_id: "<%= Authipay.user_id %>",
  shared_secret: "<%= Authipay.shared_secret %>"
};
</script>
